<h1>Productos en Tiempo Real</h1>
<ul id="productList">
    {{#each products}}
        <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
</ul>

<h2>Agregar Producto</h2>
<form id="addProductForm">
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Descripción" required>
    <input type="text" id="code" placeholder="Código" required>
    <input type="number" id="price" placeholder="Precio" required>
    <input type="number" id="stock" placeholder="Stock" required>
    <input type="text" id="category" placeholder="Categoría" required>
    <button type="submit">Agregar</button>
</form>

<h2>Eliminar Producto</h2>
<form id="deleteProductForm">
    <input type="number" id="deleteId" placeholder="ID del Producto" required>
    <button type="submit">Eliminar</button>
</form>